<?xml version="1.0" encoding="UTF-8"?>
<settings>
<profiles>
  <profile>
    <id>snapshots</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>snapshots</id>
        <url>http://35.79.17.158:8081/artifactory/libs-snapshot-local</url>
      </repository>
    </repositories>
  </profile>
</profiles>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
<servers>
  <server>
    <id>snapshots</id>
    <username>brahmanapallysanthosh@gmail.com</username>
    <password>redhat@123</password>
  </server>
</servers>
</settings>
